.friend {
    display: grid;
    grid-template-columns: 140px calc(100% - 210px) 70px;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid var(--borderColor);
}

.avatar-friend {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 140px;
    border-radius: 50%;
    height: 100%;
}

.avatar-friend img {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
    display: flex;
    object-fit: cover;
    border-radius: 50%;
}

.friend:first-child {
    border: none;
}

.friend-name {
    font-size: 18pt;
}
.friend-university {
    font-size: 15pt;
    color: var(--additionalColor);
}

.friend-info {
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.add-del-friend-button {
    display: flex;
    align-items: center;
    justify-items: center;
}